<div class="wrf-modal">
  <div class="wrf-modal__backdrop"></div>
  <div class="wrf-modal__container">
    <div class="wrf-modal__header">
      Lorem ipsum dolor sit amet
    </div>
    <div class="wrf-modal__content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Beatae commodi ducimus ea fuga harum iure iusto molestiae, nemo placeat quas quibusdam suscipit, vero?
        Amet consequuntur deserunt dolores dolorum quas reiciendis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Beatae commodi ducimus ea fuga harum iure iusto molestiae, nemo placeat quas quibusdam suscipit, vero?
        Amet consequuntur deserunt dolores dolorum quas reiciendis.
      </p>
    </div>
  </div>
</div>
