.wrf-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1000;
  width: 100%;
  height: 100%;

  &__backdrop {
    background: #000000;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    display: none;
  }

  &__container {
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    border: 2px solid #000000;
    position: absolute;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    padding: 20px;
    top: 100%;
    display: none;
  }
}
