<ion-content>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
      nostrum numquam odio quaerat qui sit voluptas voluptates?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
      nostrum numquam odio quaerat qui sit voluptas voluptates?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
      nostrum numquam odio quaerat qui sit voluptas voluptates?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
      nostrum numquam odio quaerat qui sit voluptas voluptates?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
      nostrum numquam odio quaerat qui sit voluptas voluptates?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
      nostrum numquam odio quaerat qui sit voluptas voluptates?
    </p>
  </div>
  <ion-button color="primary" (click)="onDismiss()">Dismiss</ion-button>
  <ion-button color="primary" (click)="onPresent()">Present</ion-button>
</ion-content>

<ion-footer>
  <ion-button color="primary" (click)="onDismiss()">Dismiss</ion-button>
  <ion-button color="primary" (click)="onPresent()">Present</ion-button>
</ion-footer>
