<ion-header>
  <h2 style="color: #cf3c4f">
    Lorem ipsum dolor sit amet!
  </h2>
</ion-header>

<ion-content>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
    nostrum numquam odio quaerat qui sit voluptas voluptates?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
    nostrum numquam odio quaerat qui sit voluptas voluptates?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
    nostrum numquam odio quaerat qui sit voluptas voluptates?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
    nostrum numquam odio quaerat qui sit voluptas voluptates?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
    nostrum numquam odio quaerat qui sit voluptas voluptates?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
    nostrum numquam odio quaerat qui sit voluptas voluptates?
  </p>
</ion-content>

<ion-footer>
  <ion-button color="primary" (click)="onDismiss()">Dismiss</ion-button>
  <ion-button color="primary" (click)="onPresent()">Present</ion-button>
</ion-footer>
