<div style="background: #3dc2ff;">
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
    nostrum numquam odio quaerat qui sit voluptas voluptates?
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
    nostrum numquam odio quaerat qui sit voluptas voluptates?
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
    nostrum numquam odio quaerat qui sit voluptas voluptates?
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
    nostrum numquam odio quaerat qui sit voluptas voluptates?
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
    nostrum numquam odio quaerat qui sit voluptas voluptates?
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
    nostrum numquam odio quaerat qui sit voluptas voluptates?
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Asperiores corporis delectus dolorum eligendi eveniet ex excepturi illo in iusto labore modi nesciunt,
    nostrum numquam odio quaerat qui sit voluptas voluptates?
  </div>
  <ion-button color="primary" (click)="onDismiss()">Dismiss</ion-button>
  <ion-button color="primary" (click)="onPresent()">Present</ion-button>
</div>
